<h2>{{event_title}}</h2>

<p>Hello {{student_name}},</p>

<p>This is a reminder that the following academic activity is approaching.</p>

<table>
<tr>
<td><strong>Activity</strong></td>
<td>{{event_title}}</td>
</tr>

<tr>
<td><strong>Date</strong></td>
<td>{{event_date}}</td>
</tr>

<tr>
<td><strong>Duration</strong></td>
<td>{{event_duration}}</td>
</tr>
</table>

{{description}}

<p>Please make the necessary preparations.</p>

<p>
Regards,<br>
Academic Affairs Office<br>
Kumasi Technical University
</p>